body
{font: sans-serif;}

#Titulo
{align-content: center;width: 100%;position: relative; color: #D3d3d3; background-color: lightblue;}

h3
{font-weight: bolder;font-size: 20;text-align: center;text-shadow: 2px 2px 2px grey;}

div.VisPpal
{width: 100%;position: absolute;align-content: center;margin-left: 10%; background-color: grey;}

#Explica
{font-size: 12;align-content: left;background-color: red;width: 100%;position: relative; padding-left: 5%;padding-right: 5%;
border: 2px;border-radius: 3px 0px 3px 0px;box-shadow: 3px 3px 3px darkgrey;}	